In [6]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10,5))
df

          0         1         2         3         4
0 -0.971100  0.491376  0.257842  0.561447 -1.292636
1 -1.083218 -3.113622 -0.598202 -0.070898 -0.026311
2  0.684820  2.229133  1.248052  1.411002  0.215168
3  0.960316 -0.942180  0.478969  0.842953  0.624274
4  0.698531 -0.335678 -0.464188 -1.672718  0.651473
5  0.112621  0.216969  1.440124 -0.242600 -0.154491
6  0.046761 -1.267439 -0.212744 -0.883875  0.519620
7 -0.720876  0.677903  2.785530 -2.136926  0.432635
8 -0.996654  0.064413  0.776724  1.613009 -1.643506
9  1.755266 -0.135474  0.789223  1.793312  0.818531

In [7]:
df.head()

          0         1         2         3         4
0 -0.971100  0.491376  0.257842  0.561447 -1.292636
1 -1.083218 -3.113622 -0.598202 -0.070898 -0.026311
2  0.684820  2.229133  1.248052  1.411002  0.215168
3  0.960316 -0.942180  0.478969  0.842953  0.624274
4  0.698531 -0.335678 -0.464188 -1.672718  0.651473